* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333 url(bg-treni.jpg) no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
  font-size: 40px;
  text-shadow: 0 0 3px #000;
}

div {
  margin: 10% auto;
  padding: 100px 50px;
  width: fit-content;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  visibility: hidden;
}

#prezzo-biglietto {
  color: #ff0000;
  transition: text-shadow 0.3s;
}

div:hover #prezzo-biglietto {
  text-shadow: 0 0 7px #ec4c4ca8;
}

.visibile {
  visibility: visible;
}

.animazione {
  animation: entrata 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes entrata {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}